* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Bai Jamjuree;
}

p {
    font-size: 18px;
    color: hsl(201, 11%, 66%);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    text-align: center;
    padding-top: 7em;
    min-height: 100vh;
    background-image: url(../imgs/bg-header-desktop.png) ;
    background-position: top;
    background-repeat: no-repeat;
}

.hero .text {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
}

.button  {
    display: flex;
    gap: 1em;
}

.button a {
    text-decoration: none;
    color: #f0f0f0;
    background-color: hsl(171, 66%, 44%);
    padding: 15px ;
    width: 200px;
    border-radius: 100px;
    transition: 0.3s ease all;
}

.button .blue {
    background-color: hsl(233, 100%, 69%);
}

.button a:hover {
    transform: scale(1.1);
}

.snippets {
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
}

.snippets p {
    max-width: 600px;
}

.advantages {
    display: flex;
    gap: 6em;
    margin-bottom: 100px;
}

.comp-img img {
    position: relative;
    left: -30px;
}

.benefits {
    display: flex;
    gap: 5em;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
}

.access {
    display: flex;
    gap: 5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}

.access .text {
    display: flex;
    gap: 1em;
    flex-direction: column;
    max-width: 600px;
}

.workflow {
    display: flex;
    gap: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.workflow .text {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.workflow .cards {
    display: flex;
    gap: 5em;
    justify-content: space-between;
    align-items: center;
}

.workflow .cards .card {
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1em;
    max-width: 350px;
}

.card h1 {
    align-items: baseline;
}

.card img {
    margin: 1em;
}


.icons {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 5em 3em;
}

.icon {
    flex: 1 1 auto;
}

.for-ios {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    text-align: center;
    padding: 2em 7em 7em 7em;
}

.for-ios img {
    width: 100px;
}

.for-ios .text {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 3em 7em;
    background-color: hsl(210, 9%, 96%);
}

footer .c img {
    max-width: 80px;
}

footer .links {
    flex: 1 1 auto;
    padding: 0 14em 0 8em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em 6em;
}

footer .links a {
    flex: 0 1 110px;
    text-decoration: none;
    color: hsl(210, 10%, 33%);
    font-size: 18px;
    transition: 0.3s ease all;
}

footer .links a:hover {
    text-decoration: underline;
}



footer .social {
    display: flex;
    gap: 1.5em;
}

footer .social a {
    transition: 0.3s ease all;
}

footer .social a:hover {
    transform: scale(1.1);
}
